<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
      <header>
        <h1 class="logo">Ezra Jones</h1>
        <input id="nav-toggle" type="checkbox" class="nav-toggle" />
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/media">Media</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
      </header>
      <div class="content">
        {{{body}}}
      </div>    
      <footer>
        <p>
          Created by <a href="mailto:kenmail99@gmail.com">KendallVsCode</a> &copy;Copyright 2020
        </p>
      </footer>
  </body>
</html>
